<left>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/networkop/k8s-networking-guide" data-icon="octicon-star" data-show-count="true" aria-label="Star this guide on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/networkop/k8s-networking-guide/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork this guide on GitHub">Fork</a>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{ template "_internal/google_analytics_async.html" . }}
